* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

body {
  background-color: #618048;
}
.mainimgbox {
  width: 85%;

  margin: 0 auto;
  margin-bottom: 3rem;
}
.first {
  background-color: #618048;
  width: 100%;
  text-align: center;

  margin-bottom: 3rem;
}

.mainimg {
  border-radius: 15px;

  width: 100%;
  object-fit: cover;
  object-position: 0 45%;
}

/* nav bar */

nav {
  display: flex;
  align-items: center;
  padding: 1.3rem 1.5rem 1.3rem 1.4rem;
  justify-content: space-between;

  color: #333;
  background-color: #fdfbef;
  margin-bottom: 3rem;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: right;
  list-style: none;

  text-align: right;
}
nav li {
  width: auto;

  margin-left: 1.3rem;
}
nav ul li a img {
  width: 1.5rem;

  vertical-align: middle;
  filter: invert(7%) sepia(99%) saturate(0%) hue-rotate(153deg) brightness(94%)
    contrast(88%);
}

nav p {
  font-size: 1.2rem;
}

.history {
  background-image: url("img/img2.jpg");

  width: 100%;

  background-repeat: no-repeat;
  border-radius: 10px;

  vertical-align: middle;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.history img {
  width: 40%;
  opacity: 80%;
  object-fit: cover;
}

.second {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.rectangle {
  background-color: rgba(245, 249, 225, 0.6);

  width: 100%;

  border-radius: 10px;
  display: flex;
  justify-content: space-between;

  padding: 40px 50px;
}
.rectangle div {
  width: 60%;
}

.rectangle p {
  width: 100%;
  padding-left: 40px;
  padding-top: 20px;
  color: #333;
  font-size: 1.3rem;
}

.third {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.first_pic,
.second_pic,
.third_pic {
  width: 30%;
}

.third img {
  width: 100%;

  object-fit: cover;
  border-radius: 50%;
  border: white solid 2px;
  filter: drop-shadow(1rem 1rem 1rem #333);
  opacity: 80%;
}
.firstimgbox,
.secondimgbox,
.thirdimgbox {
  position: relative;

  margin-bottom: 1rem;
  width: 100%;
}

.m47,
.m52,
.m64 {
  font-size: 3rem;
  font-weight: 500;
  font-family: "Solway";
  text-align: center;
  width: 100%;
  color: rgba(245, 249, 225);
  text-shadow: 2px 2px 4px rgb(68, 68, 255);
}

.m47 {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.m52 {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px rgb(255, 79, 79);
}

.m64 {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ///////////////////////////////////////////////////////// */

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }

  .first {
    margin-bottom: 30px;
  }

  .history img {
    object-fit: contain;
  }

  .rectangle {
    padding: 30px 30px;
    height: 280px;
  }

  .rectangle div {
    width: 60%;
    overflow: scroll;
  }

  .third {
    width: 80%;
    margin: 0 auto;
    display: block;
    margin-bottom: 3rem;
  }

  .first_pic,
  .second_pic,
  .third_pic {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: justify;
    margin-bottom: 2rem;
    text-indent: 1rem;
  }

  .third_p {
    width: 60%;
  }
  .third img {
    width: 100%;

    object-fit: cover;
    border-radius: 50%;
    border: white solid 2px;
    filter: drop-shadow(1rem 1rem 1rem #333);
    opacity: 80%;
    position: relative;
  }
  .firstimgbox,
  .secondimgbox,
  .thirdimgbox {
    position: relative;
    width: 30%;
    display: flex;
    align-items: center;
  }
  .rectangle p {
    width: 100%;
    padding-left: 30px;
    padding-top: 15px;
    color: #333;
    font-size: 1.3rem;
  }

  .m47,
  .m52,
  .m64 {
    font-size: 2rem;
    font-weight: 500px;
    font-family: "Solway";
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 10px;
  }

  .mainimg {
    border-radius: 10px;
    min-height: px;
    width: 100%;
    min-width: 100px;
    object-fit: contain;
    object-position: 0% -45%;
  }

  .history img {
    width: 40%;
    opacity: 80%;
    object-fit: contain;
  }

  .rectangle {
    padding: 20px 20px;
  }

  .rectangle p {
    padding-left: 1em;
    padding-top: 1rem;
  }

  .third {
    width: 80%;
    margin: 0 auto;
  }

  .third img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: white solid 2px;
    filter: drop-shadow(1rem 1rem 1rem #333);
    opacity: 80%;
  }

  .rectangle {
    padding: 30px 30px;
    height: 200px;
  }

  .m47,
  .m52,
  .m64 {
    font-size: 2rem;
    font-weight: 500px;
    font-family: "Solway";
    text-align: center;
    width: 100%;
  }

  .rectangle p {
    width: 100%;
    height: 200px;
    padding-left: 15px;
    padding-top: 10px;
    color: #333;
    font-size: 1rem;
  }

  .rectangle {
    background-color: rgba(245, 249, 225, 0.6);

    width: 100%;

    border-radius: 10px;
    display: flex;
    justify-content: space-between;

    padding: 20px 15px;
  }

  .first_pic,
  .second_pic,
  .third_pic {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 2rem;
    text-indent: 1rem;
    justify-content: center;
  }

  .firstimgbox,
  .secondimgbox,
  .thirdimgbox {
    position: relative;
    width: 40%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .third_p {
    width: 100%;
  }
}
