* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
.phone {
  background-color: rgba(0, 0, 0, 0.9);
  height: 700px;
  width: 350px;
  box-shadow: -2px -2px 2px gold, 0px 5px 2px 3px rgba(149, 165, 166, 0.3);

  border-radius: 30px;
  margin: 20px auto;
  position: relative;
}

.screen {
  background-color: rgba(44, 62, 80, 1);
  height: 575px;
  width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.homebutton {
  border-radius: 50%;
  height: 43px;
  width: 43px;
  box-shadow: -0.9px -0.3px 0 0.5px gold, -0.3px -0.9px 0 0.7px #ecf0f1;
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.circle {
  background-color: rgba(44, 62, 80, 1);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateY(-50%);
}

.circle-left {
  background-color: rgba(44, 62, 80, 1);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 35%;
}

.microphone {
  background-color: rgba(44, 62, 80, 1);
  width: 70px;
  height: 7px;
  border-radius: 20px;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}
