// colors
$primarycolor: #fda083;
$tint: #fdf1ee;
$shade: #de5126;
$aomidori: #1a988d;
$aomidorishade: #095650;
$aomidoritint: #ebf7f6;
$aomidoritint2: #c3fffb;

@mixin center-container {
  margin: 0 auto;
}

@mixin button {
  border-radius: 10px;

  background-color: $aomidoritint;
  border: none;

  font-size: 1.2rem;
  background-color: $aomidori;
  color: white;
  cursor: pointer;
}

@mixin anton {
  font-family: "Anton";
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

//responsive
@mixin for-phone-only {
  @media (max-width: 575px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin for-desktop {
  @media (min-width: 769px) {
    @content;
  }
}
.display-on {
  right: 0% !important;
}
