* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Rubik";
}

header {
  background-color: $aomidori;
  display: flex;
  justify-content: space-between;
  color: $aomidoritint;

  position: fixed;
  width: 100%;
  top: 0;
  padding: 0.7rem 3rem;
  z-index: 3;

  .logo {
    font-family: "Anton";
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }
  a {
    color: $aomidoritint;
  }
  i {
    font-size: 1.5rem;
  }
  .the {
    font-size: 0.8rem;
  }
  nav {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }
  button {
    border-radius: 10px;
    border: none;
    font-size: 0.9rem;
    color: white;
    cursor: pointer;
    padding: 8px 12px;
    background-color: $shade;
  }
}

.hero-section {
  display: flex;
  align-items: center;
  .hero-container {
    color: $aomidorishade;
    width: 100%;
    height: 100vh;

    background-color: $primarycolor;
    display: flex;
    gap: 1rem;

    @include cetner-container;

    .left-container {
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      color: $aomidorishade;
      font-family: "Anton";

      h1 {
        font-size: 7rem;
        border-bottom: 20px;
        font-weight: 700;
        color: $aomidori;
        font-family: "Anton";
      }
      span {
        font-size: 1.5rem;
      }
      button {
        border-radius: 10px;
        padding: 15px 30px;

        border: none;
        font-weight: 700;
        font-size: 1.2rem;
        background-color: $shade;
        color: $tint;
        cursor: pointer;
        margin-top: 1.5rem;
      }
    }

    .main-img-container {
      width: 40%;
      position: relative;
      overflow: hidden;
      z-index: 1;

      img {
        width: 100%;
        height: 100%;

        object-fit: cover;

        // overflow: hidden;
      }
      &::after {
        content: "";
        border-radius: 50%;
        height: 120%;
        width: 140%;
        background-color: $aomidori;
        display: block;
        position: absolute;
        top: 70%;
        left: 0%;
        transform: translate(0%, -50%);
        z-index: -1;
      }
    }
  }
}

.description {
  padding: 3rem 0;
  color: $aomidoritint;
  background-color: $aomidori;
  box-shadow: inset 0 0 0 20px #1a988d;
  overflow: hidden;
  position: relative;

  h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
    font-family: "Anton";
  }
  .features {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    gap: 10px;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;

      justify-content: center;
      gap: 10px;
    }

    .right-description {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .img-container2 {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      //   background-image: url("../img/umbrella-ground.png");
      //   background-repeat: no-repeat;
      //   background-size: cover;
      //   background-position: (0%, -50%);

      .lady {
        width: 30%;
        position: absolute;
        top: 10%;

        transform: scale(120%);
        opacity: 30%;
        z-index: 1;
      }
      .ground {
        width: 100%;
        position: absolute;
        bottom: -15%;

        object-fit: cover;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
      }
    }
  }
}

.latest-section {
  color: $aomidorishade;
  padding: 3rem 5rem;
  display: flex;
  justify-content: center;
  background-color: $primarycolor;
  //   background-image: url("../img/background-umbrella.jpg");
  //   background-size: cover;
  //   background-position: 100%;
  .right-latest-features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    button {
      @include button;
      padding: 13px 20px;
    }
    .umbrella-container {
      border-radius: 50%;
      width: 70%;
      padding-top: 70%;

      background-color: $aomidori;
      position: relative;
      margin-bottom: 2rem;
      box-shadow: 20px 10px 20px $shade;

      img {
        width: 85%;
        position: absolute;
        top: 50%;
        left: 8%;
        transform: translateY(-50%);
      }
    }
  }
  .left-latest-features {
    padding: 4rem 0;
    width: 40%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }
}

.testimonial {
  background-color: $aomidori;
  padding: 6rem 2rem;
  color: $aomidoritint;
  display: flex;
  justify-content: center;
  gap: 2%;
  position: relative;

  .testimonial-container {
    width: 45%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    .left-testimonial {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .testimonial-pics {
      display: flex;
      align-items: center;
      justify-content: center;

      .testers {
        border-radius: 50%;
        width: 20%;

        &:nth-child(odd) {
          background-color: $shade;
        }
        &:nth-child(even) {
          background-color: $aomidorishade;
        }
        &:nth-child(1),
        &:nth-child(2) {
          margin-right: -20px;
          filter: opacity(0.8);
        }
        &:nth-child(4),
        &:nth-child(5) {
          margin-left: -20px;
          filter: opacity(0.8);
        }

        &:nth-child(3) {
          position: relative;
          z-index: 2;
          width: 30%;

          margin-bottom: 0.5rem;
        }

        &:nth-child(4) {
          position: relative;
          z-index: 1;
        }

        &:nth-child(1),
        &:nth-child(5) {
          width: 10%;
        }
      }
    }

    .name {
      margin-top: 0.5rem;

      font-weight: 200;
      font-size: 1.2rem;
    }
    .review-title {
      margin-bottom: 0.5rem;
      @include anton;
    }
    .job-title {
      font-size: 1rem;
      font-weight: 100;
      color: $aomidoritint;
      margin-bottom: 2rem;
      color: $aomidoritint2;
    }
    .review {
      color: $aomidoritint2;
      text-align: center;
    }
  }

  .signup {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 1;

    p {
      text-align: center;
      &:nth-child(2) {
        margin-bottom: 1.5rem;
      }
    }

    .signup-title {
      font-size: 2.5rem;
      text-align: center;
      @include anton;
      line-height: 1.2;
      margin-bottom: 1rem;
    }
    .discount-detail {
      color: $aomidoritint2;
    }
    .arrow {
      font-size: 1.5rem;
    }
    .for {
      font-size: 2rem;
      @include anton;
    }
  }
  .email-box {
    width: 50%;
    text-align: center;
    margin-top: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    .email {
      border: none;
      border-radius: 10px;
      padding: 0.5rem 1rem;

      width: 100%;

      padding: 0.7rem;
      vertical-align: middle;
    }
    .submit {
      border-radius: 10px;
      position: absolute;
      background-color: $shade;
      color: $tint;
      //   left: -13%;
      border-top-left-radius: none;
      width: 60px;
      left: 99.2%;
      transform: translateX(-100%);
      height: 35px;
      vertical-align: middle;
      border: none;
    }
  }
}
footer {
  background-color: $primarycolor;
  position: relative;
  overflow: hidden;

  .footer-pic-box {
    img {
      position: relative;
      z-index: 1;
      width: 40%;
      height: 100%;
    }
    &::after {
      content: "";
      border-radius: 50%;
      width: 40%;
      height: 1000px;
      background-color: $aomidori;
      display: block;
      position: absolute;
      top: 10%;
      left: -20%;
      transform: translate(0%, 0);
    }
  }
}
