@import "base";
@import "layout";
@import "components";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

//general

$accentcolor: rgb(255, 136, 0);
@mixin fontcolor-black() {
  color: rgb(42, 42, 42);
}
@mixin titlefont() {
  font-family: "Playfair Display", serif;
}

@mixin for-phone-only {
  @media (max-width: 390px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (max-width: 699px) {
    @content;
  }
}

@mixin for-desktop {
  @media (max-width: 1129px) {
    @content;
  }
}

.title {
  font-size: 2.5rem;
  margin-bottom: 16px;
  line-height: 48px;
  font-weight: 600;

  font-family: "Playfair Display", serif;
}
.subtitle {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-family: sans-serif;
  color: $accentcolor;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}

//general

//nav bar

nav {
  display: flex;
  width: 100%;
  padding: 14px 0 0 12px;

  span {
    width: 35%;
    color: $accentcolor;
    font-family: "Playfair Display", serif;
    font-size: 1.4rem;
    @include for-desktop {
      width: 70%;
    }
  }

  ul {
    font-size: 0.9rem;
    letter-spacing: 1px;
    display: flex;
    width: 50%;
    @include for-desktop {
      display: none;
    }
    li {
      padding: 0 16px;
      a {
        @include fontcolor-black();
      }
    }
  }
  .hamburger {
    display: none;
    @include for-desktop {
      display: block;
      width: 10%;
      color: $accentcolor;
    }
  }
  .cart {
    width: 5%;
    color: $accentcolor;
    @include for-desktop {
      width: 10%;
    }
  }

  .search {
    width: 10%;
    color: $accentcolor;
  }
}

//main section
main {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.4)),
    url("https://images.unsplash.com/photo-1479044769763-c28e05b5baa5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80")
      no-repeat center/cover;
  height: 100vh;
  width: 100%;
}
//main section

//welcome section

.welcome {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    @include titlefont();
    text-align: center;
    font-size: 3rem;
  }

  .second-h1 {
    margin-bottom: 24px;
  }

  form {
    width: 50%;
    text-align: center;
    min-width: 300px;
    input {
      padding: 5px 10px;
      width: 40%;
      min-width: 150px;
      height: 40px;
      border-radius: 5px;
      border: none;
    }
    select {
      color: white;
      position: relative;
      left: -15px;
      height: 40px;
      background-color: $accentcolor;
      padding: 5px 5px 5px 8px;
      border: none;
      border-radius: 5px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      appearance: none;
    }
  }
}
///about
.about {
  background: url(../images/about.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  padding-left: 40%;
  padding-top: 50px;
  padding-bottom: 120px;
  padding-right: 10%;
  @include for-tablet-portrait-up {
    background-position: 50%;
  }
  h2 {
    @extend .subtitle;
  }
  h3 {
    @extend .title;
  }
  p {
    margin-bottom: 60px;
    line-height: 32px;
    font-family: sans-serif;
    @include fontcolor-black();
  }
  .second {
    margin-bottom: 24px;
  }

  a {
    background-color: $accentcolor;
    color: white;
    font-family: sans-serif;
    padding: 10px 0 10px 12px;
    border-radius: 5px;
    text-decoration: none;
    span {
      background-color: rgb(253, 179, 30);
      position: relative;
      right: -5px;
      padding: 10px 10px 10px 8px;
      height: 30px;
      border-radius: 5px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

//about

//order section
.order {
  text-align: center;
  margin: 80px 0 20px;
  h3 {
    @include titlefont();
    font-size: 2.5rem;
    margin-bottom: 24px;
  }
  ul:nth-child(2) {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 18px;

    width: 70%;
    li {
      border-bottom: rgba(149, 148, 148, 0.597) 2.5px solid;
      padding: 1.5% 4%;
      a {
        @include fontcolor-black();
      }
    }
    .firstlink {
      color: $accentcolor;
    }
    li:first-child {
      border-bottom: $accentcolor solid 2.5px;
    }
  }

  @mixin backgroundimg($url) {
    background: url($url);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
  }
  .gallery {
    display: grid;
    justify-content: center;
    margin: 0 auto;

    width: 80%;
    gap: 35px 30px;
    grid-template: 1fr 1fr/ 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "img01 img02 img03 img04"
      "img05 img06 img07 img08";
    @include for-tablet-portrait-up {
      grid-template: 1fr 1fr/1fr 1fr;
      grid-template-areas:
        "img01 img02"
        "img03 img04";
    }

    .img01 {
      @include backgroundimg("https://source.unsplash.com/fdlZBWIP0aM");
    }
    .img02 {
      @include backgroundimg("https://source.unsplash.com/Zyx6a0ReB18");
    }
    .img03 {
      @include backgroundimg("https://source.unsplash.com/WbA_PCv3_Co");
    }
    .img04 {
      @include backgroundimg("https://source.unsplash.com/SH6vc3VOOwE");
    }
    .img05 {
      @include backgroundimg("https://source.unsplash.com/ohnRXPYXDEE");
      @include for-tablet-portrait-up {
        display: none;
      }
    }
    .img06 {
      @include backgroundimg("https://source.unsplash.com/j3gz0KReZbA");
      @include for-tablet-portrait-up {
        display: none;
      }
    }
    .img07 {
      @include backgroundimg("https://source.unsplash.com/FFqNATH27EM");
      @include for-tablet-portrait-up {
        display: none;
      }
    }
    .img08 {
      @include backgroundimg("https://source.unsplash.com/RwoKbjJdYvE");
      @include for-tablet-portrait-up {
        display: none;
      }
    }
    section {
      position: relative;
      overflow: hidden;
    }
    section:hover .gallery-overlay {
      left: 0;
    }
  }
  .gallery-overlay {
    background-color: rgba(14, 14, 14, 0.479);
    transition: left 0.5s;
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    line-height: 25px;
    font-size: 1.2rem;
    .stars {
      color: rgb(254, 189, 12);
    }
  }

  .dots {
    display: flex;
    justify-content: center;
    margin-top: 12px;

    li {
      color: $accentcolor;
      font-size: 1.5rem;
      padding: 12px;
    }
  }
}
//order section

//book section

.book {
  background: url("https://source.unsplash.com/ThtzElwvwyM");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0 60px;
  text-align: center;
  @include for-tablet-portrait-up {
    padding: 45px 0 0;
  }
  a,
  span {
    display: block;
  }

  h2 {
    @extend .subtitle;
    text-align: center;
  }
  h3 {
    @extend .title;
    text-align: center;
    margin-bottom: 32px;
  }
  a {
    color: $accentcolor;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 15px 0 40px;
    font-family: "Playfair Display", serif;
  }
  img {
    margin: 50px auto;
    display: block;
    width: 80%;

    object-fit: cover;
    @include for-tablet-portrait-up {
      display: none;
    }
  }
  i {
    color: $accentcolor;
    border-radius: 50%;
    border: $accentcolor solid 1px;
    padding: 10px;
    font-size: 2rem;
    margin-bottom: 16px;
  }
  section:nth-child(6) {
    @include for-tablet-portrait-up {
      border-bottom: white 1px solid;
    }
  }
  section {
    float: left;
    display: block;
    width: 50%;
    margin-bottom: 48px;
    @include for-tablet-portrait-up {
      float: none;
      background-color: rgba(253, 156, 30, 0.84);
      margin-bottom: 0;
      color: white;
      padding: 15px;
      width: 100%;
    }
    span {
      display: block;
      font-size: 0.8rem;
    }
    .time {
      font-family: "Playfair Display", serif;
      margin-top: 8px;
      font-size: 1.2rem;
    }
  }
}

//book section

//footer
footer {
  text-align: center;
  padding: 36px 0;
  font-size: 1rem;
  @include for-tablet-portrait-up {
    font-size: 0.8rem;
  }
}
